{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-bug-slash fa-2x mb-3 i-color"></i>
            <h3>Bug Fix</h3>
            <p class="ss-color">
                Refining the user interface by addressing minor bugs and optimizing backend database management.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="ss-color">
                Creating visually appealing and user-friendly websites.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="ss-color">
                Working as a full-stack developer taking care of front-end and back-end.
            </p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-github fa-2x mb-3 i-color"></i>
            <h3>Deployment</h3>
            <p class="ss-color">
                Overseeing seamless deployment of code fixes and updates for website or web application maintenance.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-database fa-2x mb-3 i-color"></i>
            <h3>Databases</h3>
            <p class="ss-color">
                Streamlining database management for an enhanced and seamless user experience.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-laptop-code fa-2x mb-3 i-color"></i>
            <h3>Coding</h3>
            <p class="ss-color">
                Developing code that aligns with business logic, ensuring logical and efficient implementation of functionalities.
            </p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-user-secret fa-2x mb-3 i-color"></i>
            <h3>Detective</h3>
            <p class="ss-color">
                Adaptable and curious, embracing the role of a detective to effectively search, learn, and grasp new concepts.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-vial-circle-check fa-2x mb-3 i-color"></i>
            <h3>Testing</h3>
            <p class="ss-color">
                Creating and executing unit test cases to ensure code reliability and functionality.
            </p>
        </div>
    </div>

</div>
{% endblock content %}